
<%= form_with(model: @volume, html: {class: :form }) do |f| %>

  <div class="form-inputs">
    <div class="field">
      <%= f.text_field :name, class: :input %>
    </div>
    <div class="field">
      <div class="select">
        <%= f.select :type_volume, collection: Volume.type_volumes.keys, class: :input %>
      </div>
    </div>

    <div class="field">
      <%= f.text_field :capacity, class: :input %>
    </div>
    <div class="field">
      <%= f.text_field :in_use, class: :input %>
    </div>
      <%= f.hidden_field :user_id, value: current_user %>

  </div>


  <div class="form-actions">
    <%= f.button :submit, class: "button is-primary" %>
  </div>
<% end %>
