<%= simple_form_for @volume, :html => { :class => 'form-vertical' } do |f| %>
  <%if @volume.errors.any? %>
    <%@volume.errors.messages.each do | att, message | %>
      <div class="alert fade in alert-warning">
        <%= "#{@volume.class.human_attribute_name(att)} #{message[0]}" %>
      </div>
    <%end%>
  <%end%>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="">Nome</label>
        <%= f.input :name, class: "form-control", label: false %>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="">Tipo</label>
      <%= f.input :type_volume, as: :select, collection: Volume.type_volumes.keys, class: "form-control", label: false %>

    </div>
    <div class="col-sm-4">
      <label for="">Capacidade</label>
      <%= f.input :capacity , class: "form-control", label: false %>
    </div>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                volumes_path, :class => 'btn btn-default' %>
<% end %>
