

<h1>Volumes</h1>


    <% @volumes.each do |volume| %>

      <div class="columns">
        <div class="column is-three-quarters">
          <h5 class="title is-5">  <%= volume.name %></h5>

          <%= volume.type_volume %>

          <%= volume.in_use %> de <%= volume.get_capacity %>
        </div>
        <div class="column">
          <%= link_to 'Show', volume, class: "button is-link" %>
          <%= link_to 'Edit', edit_volume_path(volume), class: :button %>
          <%= link_to 'Destroy', volume, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %>

        </div>
      </div>

<hr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volume', new_volume_path %>
