<%= simple_form_for @archive, :html => { :class => 'form form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :size, as: :string %>
  <%= f.input :type_archive, as: :select, collection: Archive.type_archives.keys %>
  <%= f.input :resolution %>
  <%= f.input :environment, as: :select, collection: Archive.environments.keys %>

  <%= f.input :directory %>
  <%= f.input :volume_id, as: :select, collection: Volume.all.map { | v | [v.name, v.id] } %>
  <%= f.input :inserted_in %>
  <div class="">
    <label for="" class="label-field">Decrição</label>
      <%= f.input :description, as: :text, label: false, input_html: {rows: 10}%>
  </div>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                archives_path, :class => 'btn btn-default' %>
<% end %>
