<header class="hero">
  <div class="hero-body">
    <h1 class="title is-2">Arquivos</h1>


    <%= link_to 'Novo Arquivo', new_archive_path %>
  </div>
</header>

    <% @archives.each do |archive| %>
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <i class="<%= archive.icon_class_big %>"></i>
              </div>
              <div class="media-content">
                <div class="content">
                  <p><strong>
                    <%= archive.name %></strong></p>
                  <p>Arquivo de <strong>  <%= archive.type_archive %></strong> de  <strong> <%= archive.get_size %></strong></p>
                  <p><i class="fas fa-hdd"></i>&nbsp;<%= link_to  archive.get_volume,  archive.volume%></p>
                </div>

                <nav class="level is-right">
                  <div class="level-item">
                      <%= link_to 'Mais Informações', archive, class: "button is-link" %>
                  &nbsp;
                    <%= link_to 'Edit', edit_archive_path(archive), class: "button" %>
                  &nbsp;
                    <%= link_to 'Destroy', archive, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro?' }, class: "button is-danger"%>
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="level-item">
                    &nbsp;&nbsp;&nbsp;
                  </div>


                </nav>
              </div>

            </div>
          </div>
        </div>


    <% end %>
