
<div class="card">
  <div class="card-header">

        <h4 class="card-header-title title is-3">
          &nbsp;
          <i class="<%= @archive.icon_class%>"></i> &nbsp;
          <%= @archive.name %></h4>
        <div class="card-header-icon">
          <%= link_to 'Editar', edit_archive_path(@archive), class: "button is-link" %> &nbsp;
          <%= link_to 'Todos os Arquivos', archives_path, class: "button" %>
        </div>
      </div>
  <div class="card-content">

          <p>Tipo <%= @archive.type_archive %></p>

          <p><strong>Tamanho: <%= @archive.get_size %></strong></p>

          <p><strong>Resolução: </strong>   <%= @archive.resolution %></p>
           <p><strong>Local/Diretório: </strong><%= @archive.directory %> </p>
           <p><strong>Volume </strong> <%= link_to @archive.volume, @archive.volume %></p>
          <p> <strong> Ambiente </strong> <%= @archive.environment.upcase %> </p>
          <p> <strong> Descrição: </strong> <%= @archive.description %> </p>

    </div>
  </div>
</div>
